@page "/players/view/{id:int}"
@model SportUI.Pages.Players.DetailsModel
@{
    ViewData["Title"] = "Details";

}
<style>
    .img-thumbnail {
        width: 450px;
        height: auto;
    }
</style>
<h1 class="text-center text-info">Player</h1>
<div class="d-flex flex-row p-2">
    <div class="figure-img p-2 bg-light my-auto">
        <img src="https://www.google.com.mx/url?sa=i&url=https%3A%2F%2Fwww.onlinelogomaker.com%2Fblog%2Fdesign-attractive-football-logo-team%2F&psig=AOvVaw26keSWIbpP3ZbKUOQkoaS6&ust=1593144214820000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNDKmO6KnOoCFQAAAAAdAAAAABAN" alt="Soccer Logo">
    </div>
    <div class="p-2">
    </div>
</div>