@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="container ">
    <h1 class="container text-md-center">Soccer</h1>
    <p1>
        Football, also called association football or soccer, game in which two teams of 11 players, using any part of their bodies except their hands and arms, try to maneuver the ball into the opposing team’s goal. Only the goalkeeper is permitted to handle the ball and may do so only within the penalty area surrounding the goal. The team that scores more goals wins.
    </p1>
</body>